html {
    --text: #b8b8b8;
    --background: #000000;
    --primary: #ffffff;
    --accent: #678591;
    --secondary: rgb(204, 232, 248);
    --subtext: rgb(172, 222, 243);
}

* {
    /* border: 1px solid red; */

}

body {
    font-size: 30px;
    color: var(--text);
    background: VAR(--background);
    font-family: "texturina";
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    color: var(--primary);
    font-family: "metal mania";
    font-size: 300px;

}

h2 {
    text-align: center;
    font-size: 150px;
    color: var(--secondary);
    font-family: "Trade Winds";
    

}

h3 {
    text-align: center;
    font-size: 100px;
    color: var(--accent);
}

h4 {
    font-size: 50px;
    color: var(--accent);
    text-decoration: underline;
}

li {
    color: var(--secondary);
    font-weight: bold;
    font-size: 30px;
}

a:link,
a:visited {
    color: rgba(255, 255, 255, 0.952);
    text-decoration: none;
}

a:hover,
a:hover h3 {
    color: var(--subtext);
    text-decoration: underline;
}

a:hover,
a:hover h2 {
    color: var(--subtext);
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: center;
}