html {
--text: #969696;
--background: #000000;
--primary: #c00101;
--secondary: #6b1d1d;
--accent: #cac8c8;
}

body {
    font-size: 15px;
    color: var(--text);
background:VAR(--background);
font-family:"texturina";
}

h1 {
    color: var(--primary);
    font-family:"metal mania";
    font-size: 100px;
}
h2{
    font-size:50px;
    color:var(--secondary);
    font-family:"metal mania";  
} 

h3{
    font-size:40px;
    color:var(--accent);
}

h4{
    font-size: 30px;
    color: var(--accent);
    text-decoration: underline;
}

li{
    color:var(--secondary);
    font-weight: bold;
    font-size: 25px;
}

a:link{
    font-size: 20px;
    color: goldenrod;
}

